<div id="bod">
<section class="form-register">
<h4>Formulario Registro</h4>
<h4>Nombre</h4>
    <input class="controls" type="text" name="nombres">
<h4>Apelidos</h4>    
<input class="controls" type="text"name="apellidos">
<h4>Cedula</h4>
<input class="controls" type="text"name="C.I.">
<h4>Correo</h4>
<input class="controls" type="email" name="correo">
<h4>Contraseña</h4>
<input class="controls" type="text"name="contraseña">
<p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>    
<input class="botons" type="submit" value="Registrar"  [routerLink]="['/login']">
</section>
</div>