<div class="bod">
<div class="login-wrapper">
    <form action="" class="form">
     <h2>Bienvenido</h2>
    <div class="input-group">
      <input type="text" name="User" required>
      <label for="loginUser">Usuario</label>
    </div>
    <div class="input-group">
      <input type="password" name="Password" required>
      <label for="loginUser">Contraseña </label>
    </div>
    <input type="submit" value="Entrar" class="btn"><br>
   <label class="remember">
     <input type="checkbox" checked="checked">Recordarme
   </label><br><br>
   <a class="olvida"[routerLink]="['/olvidoC']" >olvido su Contraseña</a>
   <a class="registrarse" [routerLink]="['/registro']">Registrarse</a>
  </form>
  </div>
  </div>