*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bod{
    font-family: sans-serif;
    background: linear-gradient(45deg,#f5f5fa 0%,#c3cfe2 100%);
}
a {
    color: #fff;
    text-decoration: none;
 }
.login-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    position: relative;
    width: 100%;
    max-width: 300px;
    padding: 80px 40px 40px;
    background: rgba(0, 0,0.7);
border-radius:10px;
color: #fff;
box-shadow: 0 15px 25px rgba(0, 0,0.5);
}
.form:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255,255,0.08);
    transform: skewX(-26deg);
    transform-origin:bottom left;
    border-radius: 10px;
    pointer-events: none;
}
.form h2{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #ff652f;
}
.form .input-group{
position: relative;
} 
.form .input-group input{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom:1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;  
}
.form .input-group label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
font-size: 1rem;
pointer-events: none;
transition: .3s ease-out;
}
.form .input-group input:focus+label,
.form .input-group input:valid+label{
    transform: translateY(-18px);
    color: #ff652f;
    font-size: .8rem; 
}
.btn{
    display: block;
    margin-left: 0;
    border: none;
outline: none;
background: #ff652f;
font-size: 1rem;
letter-spacing: 1px;
padding: 10px 20px;
cursor: pointer;
float: right;
color:#fff
}
.submit-btn:hover{
    background: #ff652f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff652f, 0 0 25px #ff652f, 0 0 50px #ff652f,0,0 100px #ff652f;
}
.remember{
    font-family: monospace;
    font-size: 16px;
}
.olvida{
    color: inherit;
    float: right;
    font-family: monospace;

}
.registrarse{
    float: left;
    font-size: 13.5px;  
      
}
